.config
.config.*

build/*
generated/*
include/generated/*

Makefile
Makefile.conf
.Makefile.d

theories/**/.*.aux
theories/**/*.glob
theories/**/*.vo
theories/**/*.vok
theories/**/*.vos

CoqMakefile
CoqMakefile.conf
.CoqMakefile.d
.lia.cache

.vscode
.clangd
.cache

todo

plugins/*