menu "mips32 Configuration"

# CMake configs

config CMAKELISTS_SUBDIR
    string 
    default "arch/mips32/bsp/malta"

# Kernel configs

choice 

    prompt "Board"
    default MIPS32_BOARD_MALTA

    config MIPS32_BOARD_MALTA
        bool "malta"

endchoice # Board

if MIPS32_BOARD_MALTA
    source "arch/mips32/bsp/malta/Kconfig"
endif

endmenu